.container {
    height: 70vh;
    height: 70svh;
    max-width: 2000px;
    border: 1px solid red;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.heroSection {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    max-width: 20vw;
 
  }

.herohead {

    border: 1px solid red;
}

.hook {


    border: 1px solid red;
}

.img1, .img2, .img3{
    position: relative;
    width: 800px;
    height: 535px;
    border: 1px solid red;
}

/* .img1 {
    right: -200px;
} */

.img2 {
    right: -100px;
}

.img3 {
    right: 0px;
}

.cta {
    width: fit-content;
    padding: 0.5rem 1rem;
    font-size: 1.1rem;
    background: var(--_bg);
    color: var(--_nav-links-color);
    margin: auto;
    display: inline-block;
    cursor: pointer;
    transition-duration: 0.4s;
}

.cta:hover {
    box-shadow: 0 6px 8px 0 rgba(0,0,0,0.24), 0 9px 25px 0 rgba(0,0,0,0.19);
    
}