/* @import url("https://fonts.googleapis.com"); */
.hero  {
    /* height: 70vh; */
    /* min-height: 70svh; */
    max-width: 2000px;
    align-items: center;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 6rem;
    padding: 3rem 0 5rem 0;

   
  }

  
.heroSection {
    /* display: flex;
    flex-direction: column; */
    flex: 1 0 60%; 
    padding: 20px;
    max-width: 35%;
    z-index: 2;
    gap: 0;
  }


.hook {
    font-size: clamp(1rem, 1.5vw, 2rem);
}
.cta {
    /* display: flex; */
    width: fit-content;
    padding: 0.5rem 1rem;
    font-size: 1.1rem;
    background: var(--_bg);
    color: var(--_nav-links-color);

    display: inline-block;
    cursor: pointer;
    transition-duration: 0.4s;
}
.cta:hover {
    box-shadow: 0 6px 8px 0 rgba(0,0,0,0.24), 0 9px 25px 0 rgba(0,0,0,0.19);
    
}

@keyframes slideIn1 {
    0% {
      right: -150%; 
    }
    100% {
      right: -20%; 
    }
  }
  @keyframes slideIn2 {
    0% {
      right: -50%; 
    }
    100% {
      right: 17%; 
    }
  }
  
.images {
    flex: 1 0 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* overflow: hidden; to fix potential problem with mobile*/
    position: relative;
    padding: 16%;
  }
  
.images img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: contain;
    
  }

.img1 {
    right: -200px;
    right: -20%;
    position: absolute;
    animation: slideIn1 1s ease-out forwards;
}  

.img2 {
    right: 100px;
    right: 15%;
    position: absolute;
    animation: slideIn2 1s ease-out forwards;
}



  
  .container2 {
    height: 1000px;
}

/* /////////////////////////////////////////////////////////////////// */


.tag {
  line-height: 0.4;
}
.diagonal {
    position: relative;
    padding: 5rem 2rem 5rem 2rem;
}


.diagonal::after{
    content: '';
    position: absolute;
    inset: 0;
    transform: skewY(3deg);
    z-index: -1;
    background-image: linear-gradient(-45deg, var(--_bg),  70%, var(--_bg));
/* var(--_nav-links-color), */
}

.carousel {
  margin: 0 auto;
  overflow: hidden;
  width: 70vw;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  background-color: var(--_nav-links-color);
  border-radius: 15px;
  padding-top: 20px;
}

.inner {
  white-space: nowrap;
  transition: transform 0.3s;
  

}

.carouselItem {
  display: inline-flex;

  align-items: center;
  justify-content: start;
  height: 490px;
  width: 70vw;
  gap: 5vw;  
}

@media screen and (max-width: 768px) {
  .carouselItem {
      flex-direction: column;
  }
  .carouselItem > img {
    border-radius: 15px;
    width: 250px;
    height: 350px;
  }

} 

@media screen and (min-width: 2000px) {
  .carouselItem > img {
    width: 500px;
    height: 600px;
    padding: 10px;
  }

  .carouselItem {
    height: 590px;
  }

} 
.carouselItem > img {
  border-radius: 15px;
}



.carouselItemsText {
  font-size: clamp(1rem, 1.5vw, 2rem);
  margin: 40px 0 40px 0;
  padding: 0 20px 0 20px;
  white-space: normal;

}
/* .carouselimg {  
  padding: 0 20px 0 20px;
} */

.carouselbuttons {
  display: flex;
  justify-content: space-evenly;
}

.buttonarrow {
  background: none;
  border: none;
  cursor: pointer;
  margin-top: 20px;
}

.indicators {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
}

.indicatorbuttons {
  background: none;
  border: none;
  cursor: pointer;
}

.indicators > button {
  margin: 5px;
  background: none;
  border: none;
  cursor: pointer;
}

.indicatorsymbol {
  color: #26343f;
}

.indicatorsymbolactive {
  color: rgb(140, 135, 135);
}


  
  @media screen and (max-width: 768px) {
    .wrap {
      flex-direction: column;
      gap: 3rem;
    }
    .working {
      max-width: 100%;
    }
  }


  @media (max-width: 1000px){
    .hero {
        gap: 3rem;
        padding: 1rem 0 1rem 0;
    }

  }
  @media (max-width: 800px) {

    .heroSection, .images {
      flex: 100%;
    }
    .heroSection {
        max-width: 100%;
      }
    .hero {
        gap: 0rem;
    
    }
    .img1 {
        right: -10%;
    }
    .images{
        padding: 35%;
    }
    .working {
        height: 300px;
    }
  }