.shortcuts{
    display: flex;
    justify-content: space-around;
    max-width: 1000px;
    margin: 0 auto;
}

.buttons {
    width: fit-content;
    padding: 0.5rem 1rem;
    font-size: 1.1rem;
    background: var(--_bg);
    color: var(--_nav-links-color);

    display: inline-block;
    cursor: pointer;
    transition-duration: 0.4s;
}

.buttons:hover {
    box-shadow: 0 6px 8px 0 rgba(0,0,0,0.24), 0 9px 25px 0 rgba(0,0,0,0.19);
}