.list{
    width: 100dvw;
    max-width: 1000px;
    margin: auto;
    list-style-type: none;
    padding: 0 5px 0 5px;
}

.listItem {
    display: flex; /* align children (workOrderInfo and date) in a row */
    justify-content: space-between; /* push children to the edges of the item */
    border-bottom: 1px solid #ddd; /* add a line below each item */
  }
  
  /* .workOrderInfo {
    
  } */
  
  .workOrderNumber {
    font-size: 1.3rem;
    margin: 7px 0 0 0;
  }
  
  .unitNumber {
    font-size: 0.9em; /* make font slightly smaller than workOrderNumber */
    color: gray ;
    margin: 7px 0 0 0;
  }
  
  .date {
    text-align: right; /* align text to the right */
  }
  .link {
    color: var(--_bg);
    text-decoration: none;
    transition-duration: 0.2s;
    /* color: black; */
    /* //////////////////////// */
  }
  
  .link :hover {
    text-decoration: none;
    color: rgb(82, 80, 120);
  }