.searchContainer {
  width: 100dvw;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 10px 10px 10px;


}
.searchTerm{
  width: 100%;
  border: 1px solid #595959;
  border-radius: 10px;  
  font-size: 1rem;
  padding: 0.4rem 1rem;
  margin-bottom: 10px;
}

.search, .clearSearch, .pageButtons{
  padding: 0.4rem 1rem;
  background: var(--_nav-links-color);
  font-size: 1rem;
  border-radius: 10px;
  display: inline-block;
  cursor: pointer;
  transition-duration: 0.4s;
}

.clearSearch{
float: right;
}

.search:hover, .clearSearch:hover, .pageButtons:hover{
  box-shadow: 0 6px 8px 0 rgba(0,0,0,0.24), 0 9px 25px 0 rgba(0,0,0,0.19);
}
.page{
  padding-inline: 20px;
}

.pagination{
  margin: 0 auto;
  padding: 20px;
}

.empty{
  margin-inline: auto;
  font-size: 1.5rem;  
}


.list{
    width: 100dvw;
    max-width: 1000px;
    margin: 20px auto auto auto;
    list-style-type: none;
    padding: 0 5px 0 5px;
    display: flex;
    flex-direction: column;
    
}

.listItem {
    display: flex; /* align children (workOrderInfo and date) in a row */
    justify-content: space-between; /* push children to the edges of the item */
    border-bottom: 1px solid #ddd; /* add a line below each item */
  }
  
  /* .workOrderInfo {
    
  } */
  
  .workOrderNumber {
    font-size: 1.3rem;
    margin: 7px 0 0 0;
  }
  
  .unitNumber {
    font-size: 0.9em; /* make font slightly smaller than workOrderNumber */
    color: gray ;
    margin: 7px 0 0 0;
  }
  
  .date {
    text-align: right; /* align text to the right */
  }
  .link {
    color: var(--_bg);
    text-decoration: none;
    transition-duration: 0.2s;
    /* color: black; */
    /* //////////////////////// */
  }
  
  .link :hover {
    text-decoration: none;
    color: rgb(82, 80, 120);
  }