.container {
    display: flex;
    flex-direction: column;

    max-width: 1100px;
    /* background-color: rgb(243, 243, 243); */

    /* align-items: center; */
    padding: 0 5% 10px 5%;
    /* gap: 0.2em; */
    margin: 0 auto 1em auto;
  }

  .workOrderInfo {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap-reverse;
  }
  .workOrderUnit{
    order: -1;
  }

  .logo {
    width: 600px;
    height: auto;
    margin: 0 auto;
  }

  @media (max-width: 768px) { 
    .logo {
      width: 300px;
    }
  }

  .descriptionItem{
    display: flex;
 
  }
  .descriptionDetails{
    max-width: 70%;
  }
  .descriptionTime{
    margin-left: auto;

  }

  .parts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .parts > div {
    width: 40%;
    border-bottom: 1px solid rgb(0, 0, 0);
  }

  
  .workOrderItem {
    display: flex;
    justify-content: space-around;
    border: 2px solid rgb(0, 0, 0);
  }
  
  .workOrderItem > div {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }