.container {
    display: flex;
    flex-direction: column;

    max-width: 1100px;

    /* align-items: center; */
    padding: 10px;
    /* gap: 0.2em; */
    margin: 2em auto;
  }

  .workOrderInfo {
    display: flex;
    justify-content: space-between;
  }
  .workOrderUnit{
    order: -1;
  }

  .logo {
    width: 600px;
    height: auto;
  }

  @media (max-width: 768px) { 
    .logo {
      width: 300px;
    }
  }

  .parts {
    display: flex;
    flex-direction: column;
  }

  
  .workOrderItem {
    display: flex;
    justify-content: space-between;
    gap: 1em;
    width: 100%;
    max-width: 600px;
  }
  
  .workOrderItem > div {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }